@keyframes right
    0%
        transform: translate(10px, -10px)
    50%
        transform: translate(-10px, 10px)
    100%
        transform: translate(10px, -10px)

@keyframes left
    0%
        transform: translate(-10px, -10px)
    50%
        transform: translate(10px, 10px)
    100%
        transform: translate(-10px, -10px)

@keyframes down
    0%
        transform: translate(-10px, 10px)
    50%
        transform: translate(10px, -10px)
    100%
        transform: translate(-10px, 10px)

@keyframes clone
    0%
        right: 20px
        top: 70%
        transform: scale(1)
    100%
        right: 210px
        top: 40%
        transform: scale(2.5)

@keyframes fadeInDown
    0%
        opacity: 0
        transform: translate3d(0, -40%, 0)
    100%
        opacity: 1
        transform: none

.fadeInDown
    animation-name: fadeInDown
