*
	padding: 0
	margin: 0
	border: 0 
	outline: none 
	border-collapse: collapse
	-webkit-overflow-scrolling: touch
	-webkit-tap-highlight-color: transparent
	box-sizing: border-box
	font-family: 'Raleway', sans-serif

body
	background-color: #F1F2F6

img
	max-width: 100%	
	object-fit: cover

.site-wrapper
	display: flex
	justify-content: space-between

.title-wrapper, .visual-wrapper
	height: 100vh
	width: 50%
.visual-item
	position: absolute
	top: 50%
	transform: translateY(-50%) scale(1)
	&-wrapper
		position: relative
		height: 100vh

.title-wrapper, .header
	padding-left: 65px

.visual-wrapper
	overflow-y: hidden

