*
	padding: 0
	margin: 0
	border: 0 
	outline: none 
	border-collapse: collapse
	-webkit-overflow-scrolling: touch
	-webkit-tap-highlight-color: transparent
	box-sizing: border-box
	font-family: 'Raleway', sans-serif

img
	max-width: 100%	
	object-fit: cover

// .container
