*
	padding: 0
	margin: 0
	border: 0 
	outline: none 
	border-collapse: collapse
	-webkit-overflow-scrolling: touch
	-webkit-tap-highlight-color: transparent
	box-sizing: border-box
	font-family: 'Raleway', sans-serif

body
	background-color: #F1F2F6
	overflow-y: hidden

img
	max-width: 100%	
	object-fit: cover

.promo, .apps, .important, .click, .groups, .devices, .download
	padding-left: 65px
	height: 100vh
	position: relative
	&__visual
		position: absolute
		top: 50%
		transform: translateY(-50%)
.header
	padding-left: 65px
.download
	display: block
	
