@media (max-width: 1800px)
	.title
		font-size: 64px
	.accordion
		width: auto
	.promo, .apps, .groups, .devices
		&-visual
			right: 64px
	.important, .click
		&-visual
			right: 216px

@media (max-width: 1440px)
	.title
		font-size: 54px
	.visual-item
		transform: translate(0, -50%) scale(0.8)
	.promo, .apps, .groups, .devices
		&-visual
			right: 0
	.important, .click
		&-visual
			right: 150px
	.accordion
		max-width: 644px
		right: 0
	.button-download
		width: 160px
		height: 50px

@media (max-width: 1200px)
	.title
		font-size: 46px
	.visual-item
		transform: translate(0, -50%) scale(0.7)
	.groups-visual
		transform: translate(0, -50%) scale(0.6)
	.promo, .apps, .groups, .devices
		&-visual
			right: -50px
	.important, .click
		&-visual
			right: 100px
	.accordion
		right: -50px
	.download
		&__buttons
			margin-top: 30px    
	.button-download
		width: 140px
		height: 40px
		h4
			font-size: 12px
			line-height: 16px

@media (max-width: 991px)
	.title-wrapper, .header
		padding-left: 33px
	.title
		font-size: 36px
	.visual-item
		transform: translate(0, -50%) scale(0.6)
	.promo, .apps, .groups, .devices
		&-visual
			right: -100px
	.groups-visual
		transform: translate(0, -50%) scale(0.5)
		right: -150px
	.important, .click
		&-visual
			right: 70px
	.accordion
		right: -100px   
	.button-download
		width: 115px
		height: 35px
		img
			zoom: 0.8

@media (max-width: 768px)
	.header
		padding-right: 64px
	.header__inner
		justify-content: space-between
	.title,.download-title__block
		font-size: 48px
		top: 131px
		transform: none
		.title
			top: 0
	.title-wrapper, .header
		padding-left: 64px
	.visual-item
		left: 30px
		top: 368px
		transform: scale(0.9)
	.apps-visual
		left: -50px
	.widget-switcher.clone
		left: 198px
	.widget-switcher.clone.animation
		top: 40%
		left: 385px
		animation-name: clone-media
	body
		overflow-y: scroll
		&::-webkit-scrollbar
			width: 0
		-ms-overflow-style: none
		scrollbar-width: none
	.button-download
		width: 140px
		height: 40px
		h4
			font-size: 12px
			line-height: 16px
		
@media (max-width: 575px)
	.header
		padding-right: 32px
	.title
		font-size: 38px
	.title-wrapper, .header
		padding-left: 32px
	.arrow
		left: 32px
	.visual-item
		left: -110px
		top: 250px
		transform: scale(0.6)
	.apps-visual
		left: -170px
	.important, .click
		&-visual
			left: -20px
	.groups-visual
		transform: scale(0.5)
		left: -140px
		top: 200px
	.accordion
		transform: scale(0.7)
		left: -35px
		top: 350px

@media (max-width: 320px)
	.header
		padding: 0 16px 0 16px
		height: 75px
	.title-wrapper
		padding-left: 16px
	.title
		font-size: 32px
		font-weight: 700
	.arrow
		left: 16px
	.visual-item
		left: -170px
		top: 150px
		transform: scale(0.45)
	.apps-visual
		left: -230px
		top: 200px
	.important, .click
		&-visual
			left: -50px
	.groups-visual
		transform: scale(0.4)
		left: -150px
		top: 120px
	.accordion
		width: 288px
		left: 16px
		transform: scale(1)
		top: 450px
		height: auto
		&-title
			font-size: 32px
		&__block
			height: 118px
			&:nth-child(2)
				.accordion-subtitle
					max-width: 220px
			&:nth-child(3)
				height: 80px
			&:nth-child(4)
				height: 141px	
	.download__buttons
		display: block
	.button-download
		width: 178px
		height: 54px
		h4
			font-size: 16px
			line-height: 19px
		&:first-child
			margin-bottom: 16px
	