@media (max-width: 1800px)
    .title
        font-size: 64px
    .promo-visual, .apps-visual, .groups-visual, .devices-visual
        right: 64px
    .important-visual, .click-visual 
        right: 99px
    .accordion
        max-width: 652px
    .accordion-content
        max-width: 600px

@media (max-width: 1400px)
    .visual-item
        scale: .7
        top: 40%
        right: 0

@media (max-width: 1150px)
    .title-wrapper, .header
        padding-left: 32px
    .title
        font-size: 48px
    .visual-item
        scale: .6
        top: 32%
        right: -80px
    .accordion
        top: 35%
    .important-visual,
    .click-visual 
        right: 0
    .button-download 
        width: 150px
        height: 48px

@media (max-width: 900px)
    .header
        position: static
        transform: none
    .visual-item
        transform: none
    .title,
    .download-title__block
        top: 120px
        transform: none
    .download-title__block .title 
        top: 0
    body
        overflow: scroll
    .visual-wrapper 
        overflow: hidden
    .visual-item
        right: auto
    .download__buttons 
        margin-top: 20px
    .accordion
        top: 45vh
        left: -81px
        max-width: fit-content
        width: auto
    .widget-switcher.animation 
        right: 0
        transform: scale(2)
    .groups-visual
        left: -122px
    .promo-visual, .devices-visual
        left: -100px
    .apps-visual
        left: -140px
    .important-visual, .click-visual
        top: 28%
        left: -60px

@media (max-width: 500px) 
    .title
        font-size: 32px
    .title,
    .download-title__block
        top: 85px
    .title-wrapper
        padding-left: 16px
    .header 
        height: auto
        padding: 16px
    .header__inner
        padding: 0
        justify-content: space-between
    .visual-item 
        scale: .5
        top: 20%
        right: 16px
    .groups-visual
        left: -193px
        top: 5%
        scale: 0.45
    .promo-visual, .devices-visual
        left: -158px
    .apps-visual
        left: -200px
    .important-visual, .click-visual
        top: 15%
        left: -90px
        scale: .5
    .download__buttons 
        flex-direction: column
        gap: 16px
    .button-download 
        width: 130px
        height: 40px
    .button-download h4 
        font-size: 13px
    .arrow
        left: 20px
        bottom: 20px
    .widget-switcher 
        right: 115.5px
        top: 407px
        transform: scale(.86)
    .accordion
        scale: 1
        top: 45vh
        max-width: 100%
        left: 16px
        right: 16px
    .accordion-title
        font-size: 32px
    .accordion-subtitle,
    .accordion-content
        font-size: 13px