.download
    padding-right: 64px
    &__buttons
        margin-top: 38px
        display: flex
        gap: 32px
    &__block-right
        height: 100vh
        position: relative
        width: 50%
        overflow: auto
        &::-webkit-scrollbar
            width: 0