.download
    &__buttons
        margin-top: 48px
        display: flex
        gap: 32px
    &-title__block
        position: absolute
        top: 50%
        transform: translateY(-50%)
        .title
            position: relative
            transform: none
