.promo
    &-visual
        width: 685px
        height: 727px
        right: 16%
        transition: 2s all
        &-childrens,  &-cleaning, &-water,  &-wifi, &-gas, &-robot
            animation-timing-function: ease-in-out
            animation-duration: 4s
            animation-iteration-count: infinite
        &-childrens,  &-cleaning, &-water
            animation-name: right
        &-wifi, &-gas
            animation-name: left
        &-robot
            animation-name: down
        &-childrens
            right: 0
            bottom: 244px
        &-wifi
            left: 16px
            bottom: 48px
        &-cleaning
            left: 58px
            bottom: 326px
        &-gas
            bottom: 533px
        &-water
            left: 162px
            top: 0
        &-robot
            right: 24px
            top: 21px
            z-index: 10

.mouse-block
    position: absolute
    z-index: 100
.top, .down
    width: 100%
    height: 40%
    z-index: 100
.down
    bottom: 0
.left, .right
    width: 40%
    height: 100%
.left
    left: 0
.right
    right: 0