.promo
    &-visual
        width: 685px
        height: 727px
        right: 154px
        &-childrens,  &-cleaning, &-water,  &-wifi, &-gas, &-robot
            animation-timing-function: ease-in-out
            animation-duration: 4s
            animation-iteration-count: infinite
        &-childrens,  &-cleaning, &-water
            animation-name: right
        &-wifi, &-gas
            animation-name: left
        &-robot
            animation-name: down
        &-childrens
            right: 0
            bottom: 244px
        &-wifi
            left: 16px
            bottom: 48px
        &-cleaning
            left: 58px
            bottom: 326px
        &-gas
            bottom: 533px
        &-water
            left: 162px
            top: 0
        &-robot
            right: 24px
            top: 21px
            z-index: 10

.mouse-block
    position: absolute
.top, .down
    width: 50%
    height: 40%
    z-index: 100
    right: 0
.top
    top: 0
.down
    bottom: 0
.left, .right
    top: 50%
    width: 30%
    height: 80%
    z-index: 2
    transform: translate(0, -50%)
.left
    left: 50%
    transform: translate(-50%, -50%)
.right
    right: 0